[submodule "booklet.byseven.co"]
	path = booklet.byseven.co
	url = git@github.com:Seven2018/booklet.byseven.co.git
[submodule "booklet-front"]
	path = booklet-front
	url = git@github.com:harold93/booklet-front.git
